body {
    margin: 1em;
    padding: 1em;
    font-family: Lora, serif;
}

img#profile {
    border-radius: 50%;
}

#profile-container {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

header {
    font-size: 150%;
    font-family: monospace;
    padding: 0.5em;
    color: #999;
    display: flex;
    background-color: #E7F1FE;
}

.left {
    border: 1px solid 00f;
    width: 70%;
}

.right {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 80%;
    text-align: right;
    flex-grow: 1;
}

div#name {
    margin-left: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 3;
}

.menuitem {
    display: inline-block;
}

main {
    display: flex;
}

#content {
    padding-left: 8mm;
    padding-right: 8mm;
    flex-basis: 60em;
}

.role {
    color: #999;
}

#side {
    margin-top: 1em;
    background-color: #212121;
    flex-basis: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 4px;
}

#side img {
    margin: 2px;
}

.daily {
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
}

pre {
    overflow-x: auto;
    font-size: 90%;
}

blockquote {
    margin: 10px;
    border-left: 3px solid #eee;
    padding-left: 15px;
    color: #333;
}

footer {
    margin-top: 2em;
    text-align: right;
    font-family: monospace;
    padding: 1em;
}