/* Markdown */

:root {
    --maincolor: #FEEC00;
    --bordercl: #374243;
    --callouctcolor: #E7E347;
    --hovercolor: #012354;
    --darkMaincolor: #FEEC00;
}

@font-face {
    font-family: titleFont;
    src: url("../fonts/font.woff2");
}

p {
    font-family: Lora, serif;
}

h1.title {
    font-family: titleFont;
}


/* 
    Husky Colors
    Dark Blue: #012354
    Grey Blue: #414A5F
    Blue: #083A6C
    Darker Yellow: #E7E347
    Yellow: #FEEC00
    Grey: #374243
    White: #DDDDDD    
    */

body {
    margin: 1em;
    background-color: #F5F5F5;
    padding: 1em;
    font-family: Lora, serif;
}